nav{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
}


  #nav-berita{
    margin-right: 100px;
  }

  * {
    box-sizing: border-box;
  }
  @font-face {
    font-family:  'Montserrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
  }
  /* Membuat dua kolom */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    font-family: 'Montserrat';
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    .row {
      width: 100%;
    }
  }
/* Gambar */
  .indonesia {
    width: 100%;
    height: 400px;
  }
  #berita{
    width: 40%;
    height: 280px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
/*a*/
a{
  color: unset;
  text-decoration: none;
}
a:hover{
  color: unset;
  text-decoration: none;
}

/* container forum */
.square-box{
  margin-top: 30px;
  max-width: 60%;
  min-width: 60%;
  border: 2px solid; color: black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.textbox{
  margin-top: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

textarea{
  margin: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.tambah-post{
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow:
}